body {
  background-color: #d8d8d8;
  font-family: 'Nunito', sans-serif;
}

header {
  top: 0;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #707070;
}

#WebLogo {
  height: 40px;
  padding: 10px;
}

#WebLogo:hover {
  background-color: #929292;
}

#WebLogo:active {
  background-color: #646464;
}

.Page {
  padding-left: 20px;
  padding-right: 20px;
}